/* CSS files add styling rules to your content */
#login, #loggedin {
  display: none;
}

body {
  background: #FFFAF0;
}

.title {
  position: absolute;
  width: 1085px;
  height: 143px;
  left: calc(50% - 1085px/2 - 0.5px);
  top: calc(50% - 143px/2 - 341.5px);

}

.tape {
  position: absolute;
  width: 584px;
  height: 406px;
  left: calc(50% - 584px/2);
  top: calc(50% - 406px/2 + 28px);

  z-index: 2;

}

.radiofront {
  position: absolute;
  width: 1666px;
  height: 181px;
  left: calc(50% - 1666px/2);
  top: calc(50% - 181px/2 + 369.5px);

  z-index: 4;


}

.radioback {
  position: absolute;
  width: 1666px;
  height: 537px;
  left: calc(50% - 1666px/2 - 1px);
  top: calc(50% - 537px/2 + 56px);

  z-index: 1;



}

.orangeextend {
  position: absolute;
  width: 1666px;
  height: 100%;
  left: calc(50% - 1666px/2);
  top: calc(50% - 136px/2 + 392px);

  z-index: 3;

  background: #F26738;
}

input[type="range"] {
   transform: rotate(270deg);
}

.slider {
  -webkit-appearance: none;
  outline: none;
  position: absolute;
  width: 1100px;
  height: 1px;
  top: calc(50% + 250px);
  left: calc(50% - 552px);
  background-color: transparent;
  z-index: 2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 584px;
  height: 406px;
  background: url(https://cdn.glitch.com/1ebcc3a1-e400-4a80-ad74-97444f4c0216%2FCassette.gif?v=1591399606563);
  background-size: cover;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 2;
}

.slider::-moz-range-thumb {
  width: 100px;
  height: 100px;
  background: url(https://cdn.glitch.com/1ebcc3a1-e400-4a80-ad74-97444f4c0216%2FCassette.gif?v=1591399606563);
  cursor: pointer;
  z-index: 2;
}

.playframe {
  position: absolute;
  width: 1170px;
  height: 836px;
  left: calc(50% - 1170px/2);
  top: calc(50% - 836px/2);
}

.playlist {
  position: absolute;
  width: 378.33px;
  height: 57.3px;
  left: 30%;
  top: 36%;

  background: #FFFAF0;
  border: 3px solid #000000;
  box-sizing: border-box;

  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.orange {
  padding: 20px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Forange.png?v=1591473954841);
  background-repeat: no-repeat;
}

.white {
  padding: 10px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Fwhite.png?v=1591473954900);
  background-repeat: no-repeat;
}

.yellow {
  padding: 10px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Fyellow.png?v=1591473954732);
  background-repeat: no-repeat;
}

.black {
  padding: 10px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Fblack.png?v=1591473954615);
  background-repeat: no-repeat;
}

.blue {
  padding: 10px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Fblue.png?v=1591473954799);
  background-repeat: no-repeat;
}

.container{
  overflow-y: auto;
  overflow-x: hidden;

  position: absolute;
  width: 1138px;
  height: 561px;
  left: calc(50% - 1138px/2);
  top: calc(50% - 561px/2 + 48.5px);

  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.05em;
}

.table{
  height:auto;
  width: 1138px;
  left: calc(50% - 1138px/2);
  top: calc(50% - 561px/2 + 48.5px);
}

/*
.playlist2 {
  position: absolute;
  width: 378.33px;
  height: 57.3px;
  left: 30%;
  top: 49.5%;

  background: #FFFAF0;
  border: 3px solid #000000;
  box-sizing: border-box;

  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.playlist3 {
  position: absolute;
  width: 378.33px;
  height: 57.3px;
  left: 30%;
  top: 63%;

  background: #FFFAF0;
  border: 3px solid #000000;
  box-sizing: border-box;

  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.playlist4 {
  position: absolute;
  width: 378.33px;
  height: 57.3px;
  left: 55%;
  top: 36%;

  background: #FFFAF0;
  border: 3px solid #000000;
  box-sizing: border-box;

  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.playlist5 {
  position: absolute;
  width: 378.33px;
  height: 57.3px;
  left: 55%;
  top: 49.5%;

  background: #FFFAF0;
  border: 3px solid #000000;
  box-sizing: border-box;

  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.playlist6 {
  position: absolute;
  width: 378.33px;
  height: 57.3px;
  left: 55%;
  top: 63%;

  background: #FFFAF0;
  border: 3px solid #000000;
  box-sizing: border-box;

  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
} */
