/* CSS files add styling rules to your content */
#login, #loggedin, #vibe-checker, #checkhide, #showgenre{
  display: none;
}

body {
  background: #FFFAF0;
}

.title {
  position: absolute;
  width: 1085px;
  height: 143px;
  left: calc(50% - 1085px/2 - 0.5px);
  top: calc(50% - 143px/2 - 341.5px);

}

.tape {
  position: absolute;
  width: 584px;
  height: 406px;
  left: calc(50% - 584px/2);
  top: calc(50% - 406px/2 + 28px);

  z-index: 2;

}

.radiofront {
  position: absolute;
  width: 1666px;
  height: 181px;
  left: calc(50% - 1666px/2);
  top: calc(50% - 181px/2 + 369.5px);

  z-index: 4;


}

.radioback {
  position: absolute;
  width: 1666px;
  height: 537px;
  left: calc(50% - 1666px/2 - 1px);
  top: calc(50% - 537px/2 + 56px);

  z-index: 1;
}

.orangeextend {
  position: absolute;
  width: 1666px;
  height: 100%;
  left: calc(50% - 1666px/2);
  top: calc(50% - 136px/2 + 392px);

  z-index: 3;

  background: #F26738;
}

input[type="range"][class="check-slider"]{
   transform: rotate(270deg);
}

input[type="range"][class="vslider"]{
   transform: rotate(0deg);
}

.slider {
  -webkit-appearance: none;
  outline: none;
  position: absolute;
  width: 1100px;
  height: 1px;
  top: calc(50% + 250px);
  left: calc(50% - 552px);
  background-color: transparent;
  z-index: 2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 584px;
  height: 406px;
  background: url(https://cdn.glitch.com/1ebcc3a1-e400-4a80-ad74-97444f4c0216%2FCassette.gif?v=1591399606563);
  background-size: cover;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 2;
}

.slider::-moz-range-thumb {
  width: 100px;
  height: 100px;
  background: url(https://cdn.glitch.com/1ebcc3a1-e400-4a80-ad74-97444f4c0216%2FCassette.gif?v=1591399606563);
  cursor: pointer;
  z-index: 2;
}

.playframe {
  position: absolute;
  width: 1170px;
  height: 836px;
  left: calc(50% - 1170px/2);
  top: calc(50% - 836px/2);
}

.playlist {
  position: absolute;
  width: 378.33px;
  height: 57.3px;
  left: 30%;
  top: 36%;

  background: #FFFAF0;
  border: 3px solid #000000;
  box-sizing: border-box;

  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.orange {
  padding: 10px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Forange.png?v=1591473954841);
  background-repeat: no-repeat;
}

.white {
  padding: 10px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Fwhite.png?v=1591473954900);
  background-repeat: no-repeat;
}

.yellow {
  padding: 10px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Fyellow.png?v=1591473954732);
  background-repeat: no-repeat;
}

.black {
  padding: 10px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Fblack.png?v=1591473954615);
  background-repeat: no-repeat;
}

.blue {
  padding: 10px;
  width: 527.18px;
  height: 145.17px;
  background: url(https://cdn.glitch.com/0456e103-c3c8-43b3-9b4d-21cb729ad1b2%2Fblue.png?v=1591473954799);
  background-repeat: no-repeat;
}

.container{
  overflow-y: auto;
  overflow-x: hidden;

  position: absolute;
  width: 1138px;
  height: 440px;
  left: calc(50% - 1100px/2);
  top: calc(50% - 561px/2 + 165px);

  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.05em;
}

.table{
  height:auto;
  width: 1138px;
  left: calc(50% - 1100px/2);
  top: calc(50% - 561px/2 + 165px);
}


/* for viber checker */

.radio {
  position: absolute;
  width: 1022px;
  height: 816px;
  left: calc(50% - 1022px/2 + 13px);
  top: calc(50% - 816px/2);
  z-index: 1;
}

.check-radiofront {
  position: absolute;
  width: 1022px;
  height: 572px;
  left: calc(50% - 1022px/2 + 13px);
  top: calc(50% - 572px/2 + 122px);
  z-index: 3;
}

input[type="range"][class="slider"] {
   transform: rotate(270deg);
}

.check-slider {
  -webkit-appearance: none;
  outline: none;
  position: absolute;
  width: 700px;
  height: 1px;
  top: calc(50% - 120px);
  left: calc(50% - 340px);
  background-color:transparent;
  z-index: 2;
}

.check-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 364px;
  height: 253px;
  background: url(https://cdn.glitch.com/1ebcc3a1-e400-4a80-ad74-97444f4c0216%2FCassette.gif?v=1591399606563);
  background-size: cover;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 2;
}

.check-slider::-moz-range-thumb {
  width: 100px;
  height: 100px;
  background: url(https://cdn.glitch.com/1ebcc3a1-e400-4a80-ad74-97444f4c0216%2FCassette.gif?v=1591399606563);
  cursor: pointer;
  z-index: 2;
}

.vslider {
  -webkit-appearance: none;
  position: absolute;
  width: 285.86px;
  height: 13px;
  left: calc(50% - 285.86px/2 + 71.52px);
  top: calc(50% - 11.96px/2 + 348.14px);
  border-radius: 5px;
  background: #FFFFFF;
  transform: rotate(90deg);
  z-index: 4;
}

.vslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #F26738;
  cursor: pointer;
}

.vslider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.strict{
  position: absolute;
  width: 78.94px;
  height: 23.92px;
  left: calc(50% - 78.94px/2 + 259.9px);
  top: calc(50% - 23.92px/2 + 336px);

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
  z-index: 4;
}

.lax{
  position: absolute;
  width: 43.06px;
  height: 23.92px;
  left: calc(50% - 43.06px/2 - 103.71px);
  top: calc(50% - 23.92px/2 + 336px);

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
  z-index: 4;
}

.playlists {
  position: absolute;
  left: calc(50% - 299px/2 - 318.5px);
  top: calc(50% - 384px/2 + 199px);
  z-index: 4;
}

.cover {
  position: absolute;
  width: 318px;
  height: 398px;
  left: calc(50% - 315px/2 - 318.5px);
  top: calc(50% - 395px/2 + 196.5px);

  border: 10px solid black;
  box-sizing: border-box;
  border-radius: 15px;
  z-index: 3;
}

.vibemeter{
  position: absolute;
  width: 184px;
  height: 33px;
  left: calc(50% - 181px/2 + 411.5px);
  top: calc(50% - 33px/2 + 8px);

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
  z-index: 3;
}

.box1 {
  position: absolute;
  height: 329px;
  width: 168px;
  left: calc(50% - 329px/2 + 494px);
  top: calc(50% - 168px/2 + 146px);

  background: #ffffff;
  border: 5px solid #2a2f3d;
  box-sizing: border-box;
  border-radius: 20px;
  z-index: 4;

  overflow: hidden;
}

.box {
  position: absolute;
  height: 329px;
  width: 168px;
  left: calc(50% - 329px/2 + 494px);
  top: calc(50% - 168px/2 + 146px);

  background: #ffffff;
  border: 5px solid #2a2f3d;
  box-sizing: border-box;
  border-radius: 20px;
  z-index: 4;

  overflow: hidden;
}

.box::before {
  /* content: "FILL";
  font-size: 2rem;
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
  left: calc(50% - 200px);
  top: calc(50%);
  height: 300px;
  width: 300px;
}
.box::after {
  content: "";
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% + 200px);
  height: 500px;
  width: 500px;
  background-color: #F26738;
  border-radius: 45%; /* Smooth edges to appear like liquid */
  animation: spin 6s ease-in-out forwards; /* Set to forwards to freeze on last frame */
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(500deg);
  }
}


.vchecked{
  position: absolute;
  width: 398px;
  height: 160px;
  left: calc(50% - 398px/2 + 13px);
  top: calc(50% - 160px/2 + 33px);
  z-index: 2;
}

.vmove{
  position: absolute;
  width: 398px;
  height: 160px;
  left: calc(50% - 398px/2 + 13px);
  top: calc(50% - 160px/2 + 33px);
  z-index: 2;
  animation: moveup 2s ease-in-out forwards;
}

@keyframes moveup {
  0% {
    left: calc(50% - 398px/2 + 13px);
    top: calc(50% - 160px/2 + 33px);
  }
  100% {
    left: calc(50% - 398px/2 + 13px);
    top: calc(50% - 160px/2 - 300px);
  }
}


/* start bars */

:root {
  --fill-acoustic: 1px;
  --fill-danceability: 1px;
  --fill-energy: 1px;
  --fill-loudness: 1px;
  --fill-tempo: 1px;
  --fill-valence: 1px;
}

.acoustic-white{
  position: absolute;
  width: 276px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 83.5px);

  background: #FFFFFF;
  border-radius: 5px;
  z-index: 5;
}

.acoustic{
  position: absolute;
  width: 0px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 83.5px);

  background: #F26738;
  border-radius: 5px;
  z-index: 6;
  animation: barfill-acoustic 3s ease-in-out 2s forwards;
}

@keyframes barfill-acoustic {
  0% {
    width: 0px;
  }
  100% {
    width: var(--fill-acoustic);
  }
}

.dancebility-white{
  position: absolute;
  width: 276px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px);

  background: #FFFFFF;
  border-radius: 5px;
  z-index: 5;
}

.dancebility{
  position: absolute;
  width: 0px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px);

  background: #F26738;
  border-radius: 5px;
  z-index: 6;
  animation: barfill-dance 3s ease-in-out 2s forwards;
}

@keyframes barfill-dance {
  0% {
    width: 0px;
  }
  100% {
    width: var(--fill-danceability);
  }
}

.energy-white{
  position: absolute;
  width: 276px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px + 28px);

  background: #FFFFFF;
  border-radius: 5px;
  z-index: 5;
}

.energy{
  position: absolute;
  width: 0px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px + 28px);

  background: #F26738;
  border-radius: 5px;
  z-index: 6;
  animation: barfill-energy 3s ease-in-out 2s forwards;
}

@keyframes barfill-energy {
  0% {
    width: 0px;
  }
  100% {
    width: var(--fill-energy);
  }
}

.loudness-white{
  position: absolute;
  width: 276px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px + 56px);

  background: #FFFFFF;
  border-radius: 5px;
  z-index: 5;
}

.loudness{
  position: absolute;
  width: 0px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px + 56px);

  background: #F26738;
  border-radius: 5px;
  z-index: 6;
  animation: barfill-loud 3s ease-in-out 2s forwards;
}

@keyframes barfill-loud {
  0% {
    width: 0px;
  }
  100% {
    width: var(--fill-loudness);
  }
}

.tempo-white{
  position: absolute;
  width: 276px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px + 84px);

  background: #FFFFFF;
  border-radius: 5px;
  z-index: 5;
}

.tempo{
  position: absolute;
  width: 0px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px + 84px);

  background: #F26738;
  border-radius: 5px;
  z-index: 6;
  animation: barfill-tempo 3s ease-in-out 2s forwards;
}

@keyframes barfill-tempo {
  0% {
    width: 0px;
  }
  100% {
    width: var(--fill-tempo);
  }
}

.valence-white{
  position: absolute;
  width: 276px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px + 112px);

  background: #FFFFFF;
  border-radius: 5px;
  z-index: 5;
}

.valence{
  position: absolute;
  width: 0px;
  height: 13px;
  left: calc(50% - 276px/2 + 151px);
  top: calc(50% - 13px/2 + 111.5px + 112px);

  background: #F26738;
  border-radius: 5px;
  z-index: 6;
  animation: barfill-valence 3s ease-in-out 2s forwards;
}

@keyframes barfill-valence {
  0% {
    width: 0px;
  }
  100% {
    width: var(--fill-valence);
  }
}

.searchchunk{
  position: absolute;
  width: 1060px;
  height: 100px;
  left: calc(50% - 1060px/2);
  top: calc(50% - 100px/2 - 170px);
  z-index: 5;
}

.searchthing{
  position: absolute;
  width: 300px;
  height: 50px;
  left: calc(50% + 20px);
  top: calc(50% - 100px/2 - 150px);
  z-index: 6;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #2A2F3D;
  border:none;
  border-bottom: 5px solid black;
  /* identical to box height */

  letter-spacing: 0.05em;
}

.searchbutton {
  position: absolute;
  width: 150px;
  height: 50px;
  left: calc(50% + 340px);
  top: calc(50% - 100px/2 - 144px);
  z-index: 6;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #F16738;
  border:none;
  background: transparent;
  /* identical to box height */

  letter-spacing: 0.05em;
}

.hoverbox{
  position: absolute;
  width: 140px;
  height: 170px;
  left: calc(50% - 140px/2 - 62px);
  top: calc(50% - 170px/2 + 156px);
  background: transparent;
  font-size: 0;
  z-index: 6;
  transition: 0.4s;
  transition-delay: 0.7s;
}

.hoverbox:hover{
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10%;
  position: absolute;
  width: 250px;
  height: 300px;
  left: calc(50% - 140px/2 - 62px);
  top: calc(50% - 170px/2 + 156px);
  background: #66CCE2;
  border: 10px solid;
  border-color: #2A2F3D;
  z-index: 6;
  font-size: 16px;
  color: white;
  font-family: Rubik;
  font-style: normal;
  font-weight: medium;
  line-height: 30px;
  text-align: center;
}

.filterhover{
  position: absolute;
  width: 215px;
  height: 52px;
  left: calc(50% - 215px/2 + 91.5px);
  top: calc(50% - 52px/2 + 290px);
  background: transparent;
  font-size: 0;
  z-index: 7;
  transition: 0.4s;
  transition-delay: 0.7s;
}

.filterhover:hover{
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10%;
  position: absolute;
  width: 285px;
  height: 183px;
  left: calc(50% - 285px/2 + 89.5px);
  top: calc(50% - 183px/2 + 264.5px);
  background: #66CCE2;
  border: 10px solid;
  border-color: #2A2F3D;
  z-index: 7;
  font-size: 16px;
  color: white;
  font-family: Rubik;
  font-style: normal;
  font-weight: medium;
  line-height: 30px;
  text-align: center;
}

.coverinsert{
  position: absolute;
  width: 900px;
  height: 79px;
  left: calc(50% - 900px/2 + 13px);
  top: calc(50% - 79px/2 - 47.5px);
  z-index: 3;

  background: #F26738;
}

.coverinsert1{
  position: absolute;
  width: 1022px;
  height: 79px;
  left: calc(50% - 1022px/2 + 13px);
  top: calc(50% - 79px/2 - 47.5px);
  z-index: 9;

  background: #F26738;
}



.transi:before{
  position: absolute;
  width: 1000px;
  height: 57px;
  left: calc(50% - 485px);
  top: calc(50% - 57px/2 - 43.5px);

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 57px;
  /* identical to box height */
  z-index: 5;

  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
  content: '';
  animation: animate infinite 10s;
}

@keyframes animate {
  0%{
    content: 'DRAG CASSETTE IN TO VIBE CHECK';
  }

  40%{
    content: 'DRAG CASSETTE IN TO VIBE CHECK';
  }

  60%{
    content: 'HOVER OVER SOME TEXT FOR MORE INFO';
  }

  100%{
    content: 'HOVER OVER SOME TEXT FOR MORE INFO';
  }
}

.computing{
  position: absolute;
  width: 1000px;
  height: 57px;
  left: calc(50% - 485px);
  top: calc(50% - 57px/2 - 86.5px);

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 57px;
  /* identical to box height */
  z-index: 10;

  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.genre_guess{
  position: absolute;
  width: 1000px;
  height: 57px;
  left: calc(50% - 485px);
  top: calc(50% - 57px/2 - 75.5px);

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 57px;
  /* identical to box height */
  z-index: 10;

  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.coverinsert2{
  position: absolute;
  width: 1022px;
  height: 79px;
  left: calc(50% - 1022px/2 + 13px);
  top: calc(50% - 79px/2 - 47.5px);
  z-index: 9;

  background: #F26738;
}
